<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transcend.nas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".NASApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".connection_new.IntroduceActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".connection_new.LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".connection_new.LoginByEmailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".connection_new.LoginListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".AutoLinkActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".connection.GuideActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".connection.WizardActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".connection.NASListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".connection.StartActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".management.FileManageActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".management.FileSharedActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".management.FileInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".management.FileActionLocateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".management.FileActionPickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".settings.DiskInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".settings.DiskDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".settings.RemoteAccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".settings.NewSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".settings.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".viewer.photo.ViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".viewer.music.MusicActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity android:name=".viewer.player.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.libraries.cast.companionlibrary.cast.player.VideoCastControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:parentActivityName=".management.FileManageActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".management.FileManageActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".service.AutoBackupService">
        </service>

        <service android:name=".viewer.music.MusicService">
        </service>

        <receiver android:name=".viewer.music.MusicReceiver" >
            <intent-filter>
                <action android:name="transcend_music_prev" />
                <action android:name="transcend_music_next" />
                <action android:name="transcend_music_play" />
                <action android:name="transcend_music_pause" />
                <action android:name="transcend_music_close" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
